<a href="/products/bestbefore">product list with best before dates</a>

<table class="sortable table table-bordered table-striped table-condensed">
	<thead>
		<tr><th>EAN</th></th><th>Name</th><th>Amount</th><th>Memberprice</th><th>Guestprice</th></tr>
	</thead>
	<tbody>
		{{{DATA}}}
	</tbody>
</table>

<div id="newproduct" style="display: {{{NEWPRODUCT}}};">
	<form action="/products/new" class="form-horizontal">
		<legend>New Product</legend>
		<input class="input-medium" name="id" type="number" min="0" placeholder="EAN" />
		<input class="input-medium" name="name" type="text" placeholder="Name" />
		<input class="input-medium" name="memberprice" type="number" step="0.01" min="0.01" placeholder="Memberprice" />
		<input class="input-medium" name="guestprice"  type="number" step="0.01" min="0.01" placeholder="Guestprice" />
		<button type="submit" class="btn btn-primary"><i class="icon-plus"></i></button>
	</form>
</div>
