<legend>Current Cashbox Status</legend>

<input name"status" type="number" readonly="readonly" value="{{{CASHBOX_STATUS}}}"/>

<form action="/cashbox/add" class="form-horizontal">
	<legend>Update Cashbox</legend>
	<select name="type" size="1">
		<option value="loss">Loss (Money is missing from the cashbox)</option>
		<option value="withdrawal">Withdrawal (You removed money from the cashbox)</option>
		<option value="donation">Donation (Cashbox has more money, than there should be)</option>
		<option value="deposit">Deposit (You added money to the cashbox)</option>
	</select>
	<input class="input-medium" name="amount" type="number" placeholder="Amount (in Cent)" />
	<button type="submit" class="btn btn-primary"><i class="icon-plus"></i></button>
	<legend>History (last ten updates)</legend>
	<table class="table table-bordered table-striped table-hover table-condensed table-nonfluid">
		<tr><td>Date &amp; Time</td><td>Name</td><td>Amount</td></tr>
		{{{CASHBOX_HISTORY}}}
	</table>
</form>
