[Unit]
Description=Send shopsystem daily invoice mail
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
User=shop
Group=shop
ExecStart=/home/shop/serial-barcode-scanner/src/invoice/invoice temporary
StandardOutput=journal
StandardError=journal
IOSchedulingClass=idle
