[Unit]
Description=Shop System UI
After=multi-user.target

[Service]
PermissionsStartOnly=true
User=shop
Group=shop
Type=simple
Restart=always
ExecStartPre=/bin/chvt 3
ExecStartPre=/bin/cat /etc/issue
ExecStartPre=/bin/setupcon
ExecStart=/home/shop/serial-barcode-scanner/src/curses-ui/curses-ui
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty3
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
