[Unit]
Description=Display on-off via MQTT

[Service]
Type=simple
ExecStart=/home/shop/serial-barcode-scanner/src/display-on-off/display-on-off.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
