#!/bin/sh
set -e

if [ -f /usr/share/debconf/confmodule ]; then
	. /usr/share/debconf/confmodule
fi

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
	dbc_dbtypes="sqlite3"
	dbc_basepath="/var/lib/shopsystem"
	dbc_dbname="shopsystem.db"
	. /usr/share/dbconfig-common/dpkg/config
	dbc_go shopsystem $@
fi

exit 0
