<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{{TITLE}}}</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.css" />
		<link type="text/css" rel="stylesheet" href="/css/base.css" />
		<script type="text/javascript" src="/js/sorttable.js"></script>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/js/jquery.flot.js"></script>
		<script type="text/javascript" src="/js/jquery.flot.selection.js"></script>
		<script type="text/javascript" src="/js/jquery.flot.navigate.js"></script>
		<script type="text/javascript" src="/js/jquery.flot.pie.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/code39.js"></script>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			{{{NAVBAR}}}
		</div>
		<div class="content">
			{{{CONTENT}}}
		</div>
	</body>
</html>
