<ul class="nav pull-right">
	<li id="usermenu" class="drop-down">
		<a href="#" id="usermenulink" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>&nbsp;{{{USERNAME}}}&nbsp;<b class="caret"></b></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="usermenulink">
			<li role="menuitem"><a tabindex="-1" href="/users/{{{USERID}}}">Personal Data</a></li>
			<li role="menuitem"><a tabindex="-1" href="/users/{{{USERID}}}/invoice">Invoice</a></li>
			<li role="menuitem"><a tabindex="-1" href="/users/{{{USERID}}}/stats">Statistics</a></li>
			<li role="menuitem" class="divider"></li>
			<li role="menuitem"><a tabindex="-1" href="/logout">Logout</a></li>
		</ul>
	</li>
</ul>
