<h2>Statistics</h2>

<div style="display:block">
	<table class="table table-bordered table-striped">
		<tr><th>Number of Articles</th><td>{{{NUMBER_OF_ARTICLES}}}</td></tr>
		<tr><th>Number of Users</th><td>{{{NUMBER_OF_USERS}}}</td></tr>
		<tr><th>Stock Value</th><td>{{{STOCK_VALUE}}}</td></tr>
		<tr><th>Total Sales</th><td>{{{TOTAL_SALES}}}</td></tr>
		<tr><th>Total Profit</th><td>{{{TOTAL_PROFIT}}}</td></tr>
		<tr><th>Sales Today</th><td>{{{SALES_TODAY}}}</td></tr>
		<tr><th>Profit Today</th><td>{{{PROFIT_TODAY}}}</td></tr>
		<tr><th>Sales this Month</th><td>{{{SALES_THIS_MONTH}}}</td></tr>
		<tr><th>Profit this Month</th><td>{{{PROFIT_THIS_MONTH}}}</td></tr>
		<tr><th>Avg. Sales/Day</th><td>{{{SALES_PER_DAY}}}</td></tr>
		<tr><th>Avg. Profit/Day</th><td>{{{PROFIT_PER_DAY}}}</td></tr>
		<tr><th>Avg. Sales/Month</th><td>{{{SALES_PER_MONTH}}}</td></tr>
		<tr><th>Avg. Profit/Month</th><td>{{{PROFIT_PER_MONTH}}}</td></tr>
	</table>
</div>
