<h2>Personal Data</h2>

{{{MESSAGE}}}

<form method="POST" enctype="multipart/form-data" action="#">
	<table class="table table-bordered table-nonfluid user-entry">
		<tr><th>ID</th><td>{{{UID}}}</td></tr>
		<tr>
			<th>Barcode</th>
			<td>
				<canvas id="barcode"></canvas><br>
				<a href="#" onclick="window.open(code39_url());">Download</a>
				<br>
				<a href="https://api-bwipjs.rhcloud.com/?bcid=code39&text=USER%20{{{UID}}}&scale=6&includetext&includecheck&includecheckintext" target="_blank">Get HighRes Version (external)
			</td>
		</tr>
		<tr>
			<th>RFID</th>
			<td>
				{{{RFID}}}
			</td>
		</tr>
		<tr><th>Firstname</th><td>{{{FIRSTNAME}}}</td></tr>
		<tr><th>Lastname</th><td>{{{LASTNAME}}}</td></tr>
		<tr><th>E-Mail</th><td>{{{EMAIL}}}</td></tr>
		<tr><th>PGP Key ID</th><td>{{{PGPKEYID}}}</td></tr>
		<tr><th>Gender</th><td>{{{GENDER}}}</td></tr>
		<tr><th>Street</th><td>{{{STREET}}}</td></tr>
		<tr><th>PLZ</th><td>{{{POSTALCODE}}}</td></tr>
		<tr><th>City</th><td>{{{CITY}}}</td></tr>
		<tr><th colspan="2">Settings</th></tr>
		<tr><th>Sound theme</th>
		<td>
			<form method="POST" enctype="multipart/form-data" action="#">
			<select class="form-control" name="soundTheme">
				<option value="##random">~ random ~</option>
				{{{SOUND_THEMES}}}
			</select>
			<input type="submit" class="btn btn-default" value="Update">
			</form>
			<br>
			<a href="https://github.com/ktt-ol/serial-barcode-scanner/tree/master/sounds/user" target="_blank">See Preview</a>
		</td>
		</tr>
	</table>
</form>
<form method="POST" enctype="multipart/form-data" action="#">
	<table class="table table-bordered table-nonfluid user-entry">
		<tr><th colspan="2">Status Information</th></tr>
		<tr><th>Disabled</th><td>{{{DISABLED}}}</td></tr>
		<tr><th>Hidden</th><td>{{{HIDDEN}}}</td></tr>
		<tr><th colspan="2">Administrative Information</th></tr>
		<tr><th>Superuser</th><td>{{{ISSUPERUSER}}}</td></tr>
		<tr><th>Auth Products</th><td><button id="authproductsbutton" type="button" class="btn {{{BTN_AUTH_PRODUCTS}}}" {{{ISADMIN2}}}>{{{HAS_AUTH_PRODUCTS}}}</button></td></tr>
		<tr><th>Auth Cashbox</th><td><button id="authcashboxbutton" type="button" class="btn {{{BTN_AUTH_CASHBOX}}}" {{{ISADMIN2}}}>{{{HAS_AUTH_CASHBOX}}}</button></td></tr>
		<tr><th>Auth Users</th><td><button id="authusersbutton" type="button" class="btn {{{BTN_AUTH_USERS}}}" {{{ISADMIN2}}}>{{{HAS_AUTH_USERS}}}</button></td></tr>
		<tr><th>Invoices</th><td><a href="./{{{UID}}}/invoice">Show</a></td></tr>
		<tr><th rowspan="3">Password</th><td><input name="password1" placeholder="New Password" type="password" /></td></tr>
		<tr><td><input name="password2" placeholder="New Password (again)" type="password" /></td></tr>
		<tr><td><input type="submit" value="Change Password" /></td></tr>
	</table>
</form>

<script language="JavaScript">
code39_init();
code39_draw("USER {{{UID}}}", true);


$('#authproductsbutton').on('click', function (e) {
	var req = $.getJSON(
		"/users/{{{UID}}}/toggle_auth_products",
		function( data ) {
			if(data["products"] == "false") {
				$('#authproductsbutton').html("No")
				$('#authproductsbutton').addClass("btn-danger")
				$('#authproductsbutton').removeClass("btn-success")
			} else if(data["products"] == "true") {
				$('#authproductsbutton').html("Yes")
				$('#authproductsbutton').addClass("btn-success")
				$('#authproductsbutton').removeClass("btn-danger")
			} else {
				console.error("unknown state")
				console.info(data)
			}
		}
	);
});

$('#authcashboxbutton').on('click', function (e) {
	var req = $.getJSON(
		"/users/{{{UID}}}/toggle_auth_cashbox",
		function( data ) {
			if(data["cashbox"] == "false") {
				$('#authcashboxbutton').html("No")
				$('#authcashboxbutton').addClass("btn-danger")
				$('#authcashboxbutton').removeClass("btn-success")
			} else if(data["cashbox"] == "true") {
				$('#authcashboxbutton').html("Yes")
				$('#authcashboxbutton').addClass("btn-success")
				$('#authcashboxbutton').removeClass("btn-danger")
			} else {
				console.error("unknown state")
				console.info(data)
			}
		}
	);
});

$('#authusersbutton').on('click', function (e) {
	var req = $.getJSON(
		"/users/{{{UID}}}/toggle_auth_users",
		function( data ) {
			if(data["users"] == "false") {
				$('#authusersbutton').html("No")
				$('#authusersbutton').addClass("btn-danger")
				$('#authusersbutton').removeClass("btn-success")
			} else if(data["users"] == "true") {
				$('#authusersbutton').html("Yes")
				$('#authusersbutton').addClass("btn-success")
				$('#authusersbutton').removeClass("btn-danger")
			} else {
				console.error("unknown state")
				console.info(data)
			}
		}
	);
});
</script>
