<h2>Personal Data</h2>
<p>
	<table class="table table-bordered table-nonfluid">
		<th>ID</th><td>{{{UID}}}</td></tr>
		<th>Firstname</th><td>{{{FIRSTNAME}}}</td></tr>
		<th>Lastname</th><td>{{{LASTNAME}}}</td></tr>
		<th>E-Mail</th><td>{{{EMAIL}}}</td></tr>
		<th>Gender</th><td>{{{GENDER}}}</td></tr>
		<th>Street</th><td>{{{STREET}}}</td></tr>
		<th>PLZ</th><td>{{{POSTALCODE}}}</td></tr>
		<th>City</th><td>{{{CITY}}}</td></tr>
		<tr><th colspan="2">Administrative Information</th></tr>
		<th>Disabled</th><td>{{{DISABLED}}}</td></tr>
		<th>Superuser</th><td>{{{ISSUPERUSER}}}</td></tr>
	</table>
</p>

