<h2>Personal Data</h2>

{{{MESSAGE}}}

<form method="POST" enctype="multipart/form-data" action="#">
	<table class="table table-bordered table-nonfluid">
		<tr><th>ID</th><td>{{{UID}}}</td></tr>
		<tr>
			<th>Barcode</th>
			<td>
				<canvas id="barcode"></canvas><br>
				<a href="#" onclick="window.open(code39_url());">Download</a>
			</td>
		</tr>
		<tr><th>Firstname</th><td>{{{FIRSTNAME}}}</td></tr>
		<tr><th>Lastname</th><td>{{{LASTNAME}}}</td></tr>
		<tr><th>E-Mail</th><td>{{{EMAIL}}}</td></tr>
		<tr><th>PGP Key ID</th><td>{{{PGPKEYID}}}</td></tr>
		<tr><th>Gender</th><td>{{{GENDER}}}</td></tr>
		<tr><th>Street</th><td>{{{STREET}}}</td></tr>
		<tr><th>PLZ</th><td>{{{POSTALCODE}}}</td></tr>
		<tr><th>City</th><td>{{{CITY}}}</td></tr>
		<tr><th colspan="2">Administrative Information</th></tr>
		<tr><th>Disabled</th><td>{{{DISABLED}}}</td></tr>
		<tr><th>Superuser</th><td>{{{ISSUPERUSER}}}</td></tr>
		<tr><th>Auth Products</th><td>{{{HAS_AUTH_PRODUCTS}}}</td></tr>
		<tr><th>Auth Cashbox</th><td>{{{HAS_AUTH_CASHBOX}}}</td></tr>
		<tr><th>Auth Users</th><td>{{{HAS_AUTH_USERS}}}</td></tr>
		<tr><th>Invoices</th><td><a href="./{{{UID}}}/invoice">Show</a></td></tr>
		<tr><th rowspan="3">Password</th><td><input name="password1" placeholder="New Password" type="password" /></td></tr>
		<tr><td><input name="password2" placeholder="New Password (again)" type="password" /></td></tr>
		<tr><td><input type="submit" value="Change Password" /></td></tr>
	</table>
</form>

<script language="JavaScript">
	code39_init();
	code39_draw("USER {{{UID}}}", true);
</script>
